#blackcolordiv{
    top:-100px;
    position: relative;
}
#downarrowcontent{
    top:200px;
    position: relative;
}
#phonesmoncal{
    top:350px;
    position: relative; 
}
#secverqw{
    top:550px;
    position: relative; 
}
#twodivs{
    top:590px;
    position: relative;   
}
#colorbluediv{
    top:670px;
    position: relative; 
}
#greenconrent{
    top:700px;
    position: relative;  
}
#bettterway{
    top:700px;
    position: relative;
}
#footerrrrrr{
    top:600px;
    position: relative;   
}